.left-panel {
    width: 15%;
    height: 100svh;
    float: left;
    padding: 20px;
    background-color: #363062; 
    display: flex;
    flex-direction: column;
}

.left-panel input {
    max-width: 100%;
    max-height: 30px;
    align-self: center;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #9393b4cf;
    color: #d38422;
    border: none;
}

.left-panel button {
    width: 100%;
    margin-bottom: 20px;
    background-color: #c57410;
    color: #f0f0f0;
    align-self: center;
    font-size: 12px;
    height: 30px;
    border-radius: 5px;
    border: none;
}
.filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #c0c0c0;
}
.filter div{
    margin: 10px 0;
    font-size: 14px;
}